html,
body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main-page{
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
margin-top: 34px;
margin-bottom: 58px;
display: flex;
position: absolute;
top: 0;
left: 0;
}

.logo-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #010101;
    margin-left: 18px;
    width: 125px;
}

.banderogus-container{
    background-color: #FFFF;
    padding: 60px 56px;
    max-width: 573px;
    margin-right: 95px;
    align-self: center;
}

.banderogus-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;
    margin-bottom: 24px;
}

.banderogus-pretitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FF6B0A;
    margin-bottom: 52px;
}

.banderogus-pre-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 12px;

}

.banderogus-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    max-width: 441px;
    margin-bottom: 48px;
}

.button{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-page-row{
    display: flex;
    justify-content: space-between;
    height: 100%
}

.banderogus-image{
    align-self: flex-end;
}

.gus-facts{
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gus-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin-bottom: 16px;
}

.gus-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 24px;
    max-width: 875px;
    text-align: center;
}

.gus-pretitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 32px;
    margin-top: 12px;
 }

 .gus-sub{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    max-width: 280px;
}

.gus-container{
    display: flex;
    width: 1170px;
    justify-content: space-between;
}

.footer-bgd{
    background: linear-gradient(270deg, #89D4FF 0%, #FCFEFF 100%);
    width: 1170px;
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    max-width: 875px;
    text-align: center;
}

.modal-bgd{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-container{
    padding: 32px 93px 60px 93px;
    background: #FFFFFF;
    position: relative;
}

.modal-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin: 32px 0 12px;
}

.modal-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 24px;
}

.modal-form-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #000;
}

.form-input{
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    padding: 4px 8px;
}

.form-button{
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}

.close-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: #1B1D1F;
    cursor: pointer;
    border: 0;
    background: none;
}

.form-text{
    margin-bottom: 0;
}

.modal-active{
    opacity: 1;
    pointer-events: all;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}